.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	max-width: var(--container-width, auto);
	margin: 0 auto;
	padding: 90px 0;

	// padding: 72px 0 144px;
}

.titleDescription {
	max-width: 550px;
}

.image {
	width: 100%;
	height: auto;
	margin-top: 26px;
}

// Класс для широкой картинки (1600px)

.imageWide {
	max-width: 1600px;
}

// Класс для узкой картинки (948px)

.imageNarrow {
	max-width: 948px;
}
